body{
    margin: 0;
    padding: 0;
    padding-top: 8rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6em;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

.header {
    padding: 1.5rem 0;
    background: #333;
    color: white;

    /* MENÚ FIJO */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.2em;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.35s linear;
    border-radius: 50px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}
